service cloud.firestore {
  match /databases/{database}/documents {
    // Posts:
    //   - Anyone can read.
    //   - Authenticated users can add and edit posts.
    //   - Validation: because post is created in 2 stages, create and upddate validation are different.
    //   - Deletes are not allowed.
    match /posts/{postId} {
      allow read;
      allow create: if request.auth != null
                    && (request.resource.data.authorName is string
                      && request.resource.data.articleName is string
                      && request.resource.data.description.size() <= 300);
      allow update: if request.auth != null
                    && (request.resource.data.url is string
                      && request.resource.data.url.matches('https?://.*'));
      allow delete: if false;
    }
    // Likes:
    //   - Anyone can read.
    //   - Authenticated users can add, and delete messages.
    //   - Validation on add: Check that submitted data is text.
    //   - Updates are not allowed (no point in updates).
    match /likes/{likeId} {
      allow read;
      allow delete: if request.auth != null;
      allow create: if request.auth != null
                    && (request.resource.data.userId is string
                      && request.resource.data.postId is string);
      allow update: if false;
    }
  }
}